@charset "UTF-8";
/*******************************************************************************

Copyright (c) 2022 Massimo Maria Ghisalberti <massimo.ghisalberti@pragmas.org>  
Initial developer Massimo Maria Ghisalberti <massimo.ghisalberti@pragmas.org>

This source is released under the terms of the Hacking License.
The initial developer reserves the right to use the source and any derivative
CSS or SCSS under other licenses (OSS/FOSS/FLOSS).

*******************************************************************************/

$color_shift: 50%;
$color_shift_medium: 25%;

$color_link: $yellow_700;
$color_link_active: $yellow_900;
$color_link_hover: $yellow_900;
$color_link_visited: $purple_100;

$color_link_decoration: none;
$color_link_hover_decoration: underline;

$color_label: $green_300;
$color_text: $grey_50;
$bg_color: $color_800;
$bg_color_code: $bg_color;
$bg_color_top_navbar: $bg_color;
$bg_color_main: $bg_color;
$bg_color_header: $bg_color;

$bg_color_image_tile: $green_300;
$border_color_image_tile: $green_800;

$tile_margin: 0.4em;
$tile_border_size: 0.4em;
$tile_border_color: $border_color_image_tile;
$bg_color_tile: $green_300;

$logo-color-1: #2f5f96;
$logo-color-2: #50be95;
$logo-color-3: #e0c038;
$logo-color-4: #2f5f96;
